@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: url(../public/pexels-ian-turnell-709552.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.loading {
    background-color: rgb(209, 209, 209);
    animation: bgblink infinite 1s;
}

@keyframes bgblink {
    0% {
        background-color: rgb(223, 222, 222);
    }
    100% {
        background-color: rgb(209, 209, 209);
    }
}

.pic-modal {
    padding: 4px 0;
    border-radius: 8px;
    background-color: white;
    width: 120px;
    box-shadow: 1px 1px 5px 2px rgb(61, 61, 255);
    margin-top: 132px;
    margin-right: -16px;
    z-index: 20;
}

#searcher {
    background-color: rgba(0, 0, 0, 0.2);
}

dialog#profile {
    padding: 16px;
    border-radius: 12px;
    width: 70%;
}

.scroll {
    scrollbar-width: none;
}

@media (min-width: 640px) {
    dialog#profile {
        width: 35%;
    }
}